---
import { config } from '../settings/site-settings';
import { Image } from 'astro:assets';
import Image1 from '../assets/img/back.webp';
import Avatar from '../assets/img/avatar.webp';
---

<div class="relative w-full h-96 bg-cover bg-center rounded-lg mb-6 sm:mb-10" style={`background-image: url(${Image1.src});`}>
    <div class="absolute inset-0 bg-black bg-opacity-60 rounded-lg"></div>
    <div class="absolute inset-0 rounded-lg flex flex-col justify-center items-center text-center lg:flex-row lg:text-left p-6 sm:p-8 lg:p-10 lg:gap-10">
        <div class="w-32 h-32 sm:w-36 sm:h-36 lg:w-40 lg:h-40 rounded-full shadow-lg border-2 border-white mb-4 lg:mb-0">
            <Image src={Avatar} width={160} densities={[1, 2]} alt="Avatar" class="w-full h-full object-cover rounded-full" />
        </div>
        <div class="text-white max-w-full lg:max-w-none">
            <h1 class="text-3xl sm:text-4xl lg:text-4xl font-semibold mb-2">Akitoshi Saeki</h1>
            <h2 class="text-lg sm:text-xl lg:text-xl font-light mb-4">Engineer, Student</h2>
            <!-- <p class="text-sm sm:text-base mb-4 max-w-xs sm:max-w-md lg:max-w-lg mx-auto lg:mx-0">ものづくりが大好きな大学生です．</p> -->
            <p class="text-sm sm:text-base mb-4 max-w-xs sm:max-w-md lg:max-w-lg mx-auto lg:mx-0">Robotics, Network, Server, etc.</p>
            <div class="flex justify-center lg:justify-start flex-wrap gap-3">
                <a href={config.social.github} class="text-2xl text-white transition transform hover:scale-110" target="_blank" aria-label="GitHub">
                    <i class="i-simple-icons-github"></i>
                </a>
                <a href={config.social.zenn} class="text-2xl text-white transition transform hover:scale-110" target="_blank" aria-label="zenn">
                    <i class="i-simple-icons-zenn"></i>
                </a>
                <a href={config.social.twitterProf} class="text-2xl text-white transition transform hover:scale-110" target="_blank" aria-label="Twitter">
                    <i class="i-ri-twitter-x-fill"></i>
                </a>
                <a href={config.social.youtube} class="text-2xl text-white transition transform hover:scale-110" target="_blank" aria-label="YouTube">
                    <i class="i-simple-icons-youtube"></i>
                </a>
                <a href={config.social.facebook} class="text-2xl text-white transition transform hover:scale-110" target="_blank" aria-label="Facebook">
                    <i class="i-simple-icons-facebook"></i>
                </a>
                <a href={config.social.instagram} class="text-2xl text-white transition transform hover:scale-110" target="_blank" aria-label="Instagram">
                    <i class="i-simple-icons-instagram"></i>
                </a>
                <a href={config.social.linkedin} class="text-2xl text-white transition transform hover:scale-110" target="_blank" aria-label="LinkedIn">
                    <i class="i-simple-icons-linkedin"></i>
                </a>
            </div>
        </div>
    </div>
</div>
