---
// import { config } from '../settings/site-settings';
import { Image } from "astro:assets";
import mma from "../assets/img/works/infra/mma.jpg";

const works = [
  {
    image: mma,
    title: "MMA Infra",
    url: "https://wiki.mma.club.uec.ac.jp/Computers",
    desc: "MMAインフラの再構築を行いました。",
    prizes: [],
  },
  {
    image: mma,
    title: "Akitoshi Lab. Infra",
    url: "https://wiki.mma.club.uec.ac.jp/Computers",
    desc: "お家の環境です。このサイトのホスティングのほかお家サービスを動かしています。",
    prizes: [],
  },
];
---

<section class="mb-10">
  <h2 class="text-3xl mb-4">Works-infra</h2>
  <hr class="border-gray-400 mb-4" />
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
    {
      works.map((work) => (
        <div class="bg-white rounded-lg shadow-lg overflow-hidden transform transition-transform hover:scale-105">
          <a href={work.url} class="no-underline text-black">
            <Image
              src={work.image}
              alt="work image"
              class="w-full h-40 object-cover"
            />
            <div class="p-4 flex flex-col justify-between gap-1">
              <div>
                <h3 class="text-xl m-0">{work.title}</h3>
                <p class="text-sm text-gray-600">{work.desc}</p>
              </div>
              {work.prizes.length > 0 && (
                <div class="flex items-center gap-1">
                  <span class="i-material-symbols-rewarded-ads-outline-rounded text-yellow-500 mr-2" />
                  <ul class="list-none list-outside p-0">
                    {work.prizes.map((prize) => (
                      <li class="text-sm">{prize}</li>
                    ))}
                  </ul>
                </div>
              )}
            </div>
          </a>
        </div>
      ))
    }
  </div>
</section>
