---
interface Props {
	title: string;
	description?: string;
	ogImage?: string;
	canonicalUrl?: string;
	useHeader?: boolean;
	useFooter?: boolean;
	useMainWrapper?: boolean;
	bodyClass?: string;
}

const { 
	title, 
	description = "ロボットが大好きな大学生です。思ったことや日常の出来事をつぶやきます。たまに技術。", 
	ogImage = "https://images.microcms-assets.io/assets/a1f82a67495a4c7c8cd02269aa346701/1b10a9dfa3dc476cb8a9154521d1f4bb/OGP.webp",
	canonicalUrl,
	useHeader = true,
	useFooter = true,
	useMainWrapper = true,
	bodyClass = "m-0 p-0 font-snself overflow-x-hidden"
} = Astro.props;

import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<html lang="ja">
  <Head
    title={title}
    description={description}
    ogImage={ogImage}
    canonicalUrl={canonicalUrl}
  >
    <slot name="preload" slot="preload" />
  </Head>
  <body class={bodyClass}>
    {useHeader && <Header />}
    
    {useMainWrapper ? (
      <main class="max-w-3xl mx-auto pt-10 pb-12 p-4">
        <slot />
      </main>
    ) : (
      <slot />
    )}
    
    {useFooter && <Footer />}
  </body>
</html>
